{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link href="https://icons8.com/icon/7695/search">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>-->

<!--<link href="https://aiv3portal.autoinspekt.com/report/assets/gallery/vendor/prettyphoto/css/prettyphoto.css" rel="stylesheet" type="text/css">-->
<!--    <link rel="stylesheet" href="">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />-->
<!--    &lt;!&ndash;    <link rel="stylesheet" href="signup.html">&ndash;&gt;-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<link href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">-->
<!--<link href="https://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css" rel="stylesheet">-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.css" rel="stylesheet">-->


<title> {% block title %}{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-black bg-light"
     style="padding: 0px;margin: 0px;margin-top: auto;background-color: lightgrey!important;font-size: 16px;position: fixed;top: 0px;width: 100%;z-index: 9999999;    padding-left: 10px;">
    <div class="Nav_bar"><a href="/"> <img src="{% static 'image/logo1.png' %}" style="width: 92px;"></div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"><img src="{% static 'image/homebutton.png' %}" alt="Home"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link abc" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle abc " href="" id="navbarDropdown"
                                             role="button" data-toggle="dropdown" aria-haspopup="true"
                                             aria-expanded="false">
                Show Tractor
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item abc"
                                                                               href="{% url 'calc:stoke' %}"> Cooming
                    Soon Tractor</a> <a class="dropdown-item abc" href="{% url 'calc:oldtractor' %}">Old Tractor</a>
            <li class="nav-item active"><a class="nav-link abc" href="{% url 'calc:gallery' %}"> Gallery <span
                    class="sr-only">(current)</span></a></li>
            <!-- <li class="nav-item"><a class="nav-link abc" href="">About</a></li> -->
            <li class="nav-item"><a class="nav-link abc" href="{% url 'calc:ourteam' %}">Team</a></li>
            {% if request.user.is_superuser %}

                <li class="nav-item"><a class="nav-link abc" href="{% url 'calc:addtractor' %}">Add tractor</a></li>
                <li class="nav-item"><a class="nav-link abc" href="{% url 'calc:addgallery' %}">Add Image</a></li>


   


            {% endif %} 

            <li class="nav-item"><a class="nav-link abc"
                                    href="https://www.google.com/maps/dir/23.0360807,72.5113371/Dyalji+Krupa+Tractors,+Undel+Road,+Undel,+Gujarat+388640/@22.6855139,72.4224716,10z/data=!3m1!4b1!4m16!1m6!3m5!1s0x395f07706ca39e73:0x9e40214cadcbaa59!2sDyalji+Krupa+Tractors!8m2!3d22.3353336!4d72.6988369!4m8!1m1!4e1!1m5!1m1!1s0x395f07706ca39e73:0x9e40214cadcbaa59!2m2!1d72.6988369!2d22.3353336">Location</a>
            </li>
        </ul>

        <div class="Nav2">
            <form class="form-inline my-2 my-lg-0" style="margin-right: 9px;">
                 {% if user.is_authenticated %} <a
                    type="button" class="" style="margin-top: 9px;margin-left: 1px;height: auto;width: auto;">
                {{user.username}}</a> <a
                    class="btn btn-primary mr-1 hover:text-gray-900 inline-flex items-center py-2 px-4  bg-gray-100 border-0 py-2 px-4 focus:outline-none hover:bg-green-200 rounded text-base  md:mt-0"
                    style="margin-top: 0px;margin-left: 1px;height: auto;width: auto;margin-left: 20px;     box-shadow: none;
" href="{% url 'calc:logout' %}">Logout</a> {% else %} <a
                    class="btn btn-primary mr-1 hover:text-gray-900 inline-flex items-center py-2 px-4  bg-gray-100 border-0 py-2 px-4 focus:outline-none hover:bg-green-200 rounded text-base  md:mt-0"
                    style="margin-top: 0px;margin-left: 1px;height: 44px;width: 157px;     box-shadow: none;
" href="{% url 'calc:register' %}">User registration</a> <a
                    class=" btn btn-primary mr-1 hover:text-gray-900 inline-flex items-center py-2 px-4  bg-gray-100 border-0 py-2 px-4 focus:outline-none hover:bg-green-200 rounded text-base  md:mt-0"
                    style="margin-top: 0px;margin-left: 14px;height: 43px;width: 127px;margin-right: 1px;border-right-width: 0px;box-shadow: none;"
                    href="{% url 'calc:login' %}">Login</a>
                
                     {% endif %}
            </form>
        </div>
    </div>
</nav>

</div>
<div class="message">
    <ul class="messages">-->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}  alert-dismissible fade show" role="alert" style="margin-top: 46px;
">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </ul>
</div>

{% block contain %}
{% endblock %}

{% block banner_slider %} {% endblock %}
<!--  Strat Fotter-->
<footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>Dayalji Krupa Tractors, Jalundh Road, Undel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>7567813182</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>dhruvpatel19110@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/"><img src="{% static 'image/logo1.png' %}" style="width: 100px;"></a>
                            </div>
                            <div class="footer-text">

                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <!-- <li><a href="#">about</a></li> -->
<!--                                <li><a href="#">services</a></li>-->
<!--                                <li><a href="#">portfolio</a></li>-->
<!--                                <li><a href="#">Contact</a></li>-->
<!--                                <li><a href="#">About us</a></li>-->
<!--                                <li><a href="#">Our Services</a></li>-->
                                <li><a href="{% url 'calc:ourteam' %}">Expert Team</a></li>
                                <li><a href="{% url 'calc:contactus' %}">Contact us</></li>
<!--                                <li><a href="#">Latest News</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
<!--                        <div class="footer-widget">-->
<!--                            <div class="footer-widget-heading">-->
<!--                                <h3>Subscribe</h3>-->
<!--                            </div>-->
<!--                            <div class="footer-text mb-25">-->
<!--                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>-->
<!--                            </div>-->
<!--                            <div class="subscribe-form">-->
<!--                                <form action="#">-->
<!--                                    <input type="text" placeholder="Email Address">-->
<!--                                    <button><i class="fab fa-telegram-plane"></i></button>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="copyright-area">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">-->
<!--                        <div class="copyright-text">-->
<!--                            <p>Copyright &copy; 2022, All Right Reserved <a href="/">Dhruv Patel</a></p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </footer>
<!--End footer-->

    <!-- End Contact Container -->
  <div class="copyright" style="position: fixed;bottom: 0px;width: 100%;z-index: 9999999;background-color: black;">
        <div class="container">
            <header class="container">
                <div class="time">
                    <p id="time"></p>

                    <p id="daily-wish"></p>
                </div>
            </header>
        </div>
        <!-- End Copyright Container -->
    </div>
</footer>
<div id="hello"></div>

<!--Script Start-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
<script>
    $(window).scroll(function () {
        var sticky = $('.sticky'),
            scroll = $(window).scrollTop();
        if (scroll >= 100) sticky.addClass('fixed');
        else sticky.removeClass('fixed');
    });

    // SplideJS Slider. See full docs at:
    // https://splidejs.com/
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('#splide', {
            type: 'loop',
            perPage: 1,
            autoplay: true,
            interval: 15000, // How long to display each slide
            pauseOnHover: false, // must be false
            pauseOnFocus: false, // must be false
            resetProgress: false
        }).mount();

        var button = document.querySelector('.splide__play-pause');

        if (button) {
            var pausedClass = 'is-paused';

            // Remove the paused class and change the label to "Pause".
            splide.on('autoplay:play', function () {
                button.classList.remove(pausedClass);
                button.textContent = 'Pause';
                button.setAttribute('aria-label', 'Pause Autoplay');
            });

            // Add the paused class and change the label to "Play".
            splide.on('autoplay:pause', function () {
                button.classList.add(pausedClass);
                button.textContent = 'Play';
                button.setAttribute('aria-label', 'Start Autoplay');
            });

            // Toggle play/pause when the button is clicked.
            splide.on('click', function () {
                var flag = 99;
                var Autoplay = splide.Components.Autoplay;

                if (button.classList.contains(pausedClass)) {
                    Autoplay.play(flag);
                } else {
                    Autoplay.pause(flag);
                }
            }, button);
        }
    });</script>
</body>

</html>