            <style>
              *,
              *:before,
              *:after {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
              }

              body {
                font-family: 'TIMES ', sans-serif;
                color: #384047;
              }

              form {
                max-width: right;
                margin: center;
                padding: 10px 20px;
                background: white;
                border-radius: 8px;
                padding-top: auto;
                text-align: center;
                box-shadow: 7px 7px 10px green, -7px -7px 10px yellow;
              }

              h1 {
                margin: 0 0 30px 0;
                text-align: center;
              }

              input[type="First name"],
              input[type="Last Name"],
              input[type="Sr Name"],
              input[type="Village Name"],
              input[type="Di. Name"],
              input[type="Contact No"],
              input[type="Contact No 2"],
              input[type="Tractor Name"],
              input[type="Model"],
              input[type="Register Number"],
              input[type="Chassis Number"],
              input[type="Engine Number"],
              input[type="Note"],
              input[type="Sold Price"],
              textarea,
              select {
                background: rgba(255, 255, 255, 0.1);
                border: none;
                font-size: 16px;
                height: auto;
                margin: 0;
                outline: 0;
                padding: 15px;
                width: 100%;
                background-color: #e8eeef;
                color: #8a97a0;
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
                margin-bottom: 30px;
              }

              input[type="radio"],
              input[type="checkbox"] {
                margin: 0 4px 8px 0;
              }

              select {
                padding: 6px;
                height: 32px;
                border-radius: 2px;
              }

              button {
                padding: 19px 39px 18px 39px;
                color: #FFF;
                background-color: #4bc970;
                font-size: 18px;
                text-align: center;
                font-style: normal;
                border-radius: 5px;
                width: 100%;
                border: 1px solid #3ac162;
                border-width: 1px 1px 3px;
                box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
                margin-bottom: 15px;
                margin-top: 25px;
              }

              fieldset {
                margin-bottom: 30px;
                border: none;
              }

              legend {
                font-size: 1.4em;
                margin-bottom: 10px;
              }

              label {
                display: block;
                margin-bottom: 8px;
              }

              label.light {
                font-weight: 300;
                display: inline;
              }

              .number {
                background-color: #5fcf80;
                color: #fff;
                height: 30px;
                width: 30px;
                display: inline-block;
                font-size: 0.8em;
                margin-right: 4px;
                line-height: 30px;
                text-align: center;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
                border-radius: 100%;
              }

              @media screen and (min-width: 480px) {
                form {
                  max-width: 550px;
                  margin-left: 0px;
                }
              }

              .title_container {
                text-align: center;
              }

              .hero-image {
                background-image: url("jdimg3.webp");
                height: auto;
                background-position: center;
                background-size: cover;
                position: relative;
                margin-bottom: 0px;
                backdrop-filter: blur5px;
              }

              .button1 {
                padding: auto;
                color: #FFF;
                background-color: red;
                font-size: 18px;
                text-align: center;
                font-style: normal;
                border-radius: 5px;
                width: 100px;
                border: 1px solid #3ac162;
                border-width: 1px 1px 3px;
                box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
                margin-bottom: 15px;
                margin-top: 25px;
              }

              h2 {
                font-size: 50px;
              }
            </style>
            <div class="hero-image" style="
    width: 1500px;
    height: 1505px;
    
	<a href="calc\static\image\SNIMG1.jpeg"></a>
              <link rel="stylesheet" href="C:\Users\Dhruv\Desktop\tajamaja\register.css ">
              <div class="form_container">
                <div class="title_container">
                  <h2> Sold Registration </h2>
                </div>
                <div class="row clearfix">
                  <div class="">
                    <form>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="First name" name="First name" placeholder="First name" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-lock"></i>
                        </span>
                        <input type="Last Name" name="Last Name" placeholder="Last Name" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-lock"></i>
                        </span>
                        <input type="Sr Name" name="Sr Name" placeholder="Sr Name" required />
                      </div>
                      <div class="row clearfix">
                        <div class="col_half">
                          <div class="input_field">
                            <span>
                              <i aria-hidden="true" class="fa fa-user"></i>
                            </span>
                            <input type="Village Name" name="Village Name" placeholder="Village Name" />
                          </div>
                        </div>
                        <div class="col_half">
                          <div class="input_field">
                            <span>
                              <i aria-hidden="true" class="fa fa-user"></i>
                            </span>
                            <input type="Di. Name" name="Di. Name" placeholder="Di. Name" required />
                          </div>
                        </div>
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Contact No" name="Contact No" placeholder="Contact No" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Contact No 2" name="Contact No 2" placeholder="Contact No 2" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Tractor Name" name="Tractor Name" placeholder="Tractor Name" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Model" name="Model" placeholder="Model" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Register Number" name="Register Number" placeholder="Register Number" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Chassis Number" name="Chassis Number" placeholder="Chassis Number" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Engine Number" name="Engine Number" placeholder="Engine Number" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Note" name="Note" placeholder="Note" required />
                      </div>
                      <div class="input_field">
                        <span>
                          <i aria-hidden="true" class="fa fa-envelope"></i>
                        </span>
                        <input type="Sold Price" name="Sold Price" placeholder="Sold Price" required />
                      </div>
                      <div class="input_field select_option">
                        <div class="select_arrow"></div>
                      </div>
                      <button class="btn" type="button" onclick="alert('Your data add successfully')"> Submit <i class="fas fa-shopping-cart"></i>
                      </button>
                      <a href="C:\Users\Dhruv\Downloads\tajamaja.html">
                        <button class="btn" type="button"> Back <i class="fas fa-shopping-cart"></i>
                        </button>
                        <script>
                          function Submit() {
                            document.contact - form.submit();
                            document.contact - form.reset();
                          }
                        </script>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>